.cf {
    background-color: #fff;
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    mask-position: center center;
    mask-size: contain;
    width: 100%;
    height: 100%;
}

@mixin generate-icon($crypto) {
    .cf-#{$crypto} {
        -webkit-mask-image: url("./sprites/crypto/#{$crypto}.svg");
        mask-image: url("./sprites/crypto/#{$crypto}.svg");
    }
}

@include generate-icon('xlm');
@include generate-icon('usd');
@include generate-icon('eur');
@include generate-icon('ada-alt');
@include generate-icon('ada');
@include generate-icon('adc-alt');
@include generate-icon('adc');
@include generate-icon('aeon-alt');
@include generate-icon('aeon');
@include generate-icon('amp-alt');
@include generate-icon('amp');
@include generate-icon('anc-alt');
@include generate-icon('anc');
@include generate-icon('arch-alt');
@include generate-icon('arch');
@include generate-icon('ardr-alt');
@include generate-icon('ardr');
@include generate-icon('ark-alt');
@include generate-icon('ark');
@include generate-icon('aur-alt');
@include generate-icon('aur');
@include generate-icon('banx-alt');
@include generate-icon('banx');
@include generate-icon('bat-alt');
@include generate-icon('bat');
@include generate-icon('bay-alt');
@include generate-icon('bay');
@include generate-icon('bc-alt');
@include generate-icon('bc');
@include generate-icon('bcc');
@include generate-icon('bch-alt');
@include generate-icon('bch');
@include generate-icon('bcn-alt');
@include generate-icon('bcn');
@include generate-icon('bft-alt');
@include generate-icon('bft');
@include generate-icon('brk-alt');
@include generate-icon('brk');
@include generate-icon('brx-alt');
@include generate-icon('brx');
@include generate-icon('bsd-alt');
@include generate-icon('bsd');
@include generate-icon('bta');
@include generate-icon('btc-alt');
@include generate-icon('btc');
@include generate-icon('btcd-alt');
@include generate-icon('btcd');
@include generate-icon('btm-alt');
@include generate-icon('btm');
@include generate-icon('bts-alt');
@include generate-icon('bts');
@include generate-icon('clam-alt');
@include generate-icon('clam');
@include generate-icon('cloak-alt');
@include generate-icon('cloak');
@include generate-icon('dao-alt');
@include generate-icon('dao');
@include generate-icon('dash-alt');
@include generate-icon('dash');
@include generate-icon('dcr-alt');
@include generate-icon('dcr');
@include generate-icon('dct-alt');
@include generate-icon('dct');
@include generate-icon('dgb-alt');
@include generate-icon('dgb');
@include generate-icon('dgd');
@include generate-icon('dgx');
@include generate-icon('dmd-alt');
@include generate-icon('dmd');
@include generate-icon('doge-alt');
@include generate-icon('doge');
@include generate-icon('emc-alt');
@include generate-icon('emc');
@include generate-icon('eos-alt');
@include generate-icon('eos');
@include generate-icon('erc-alt');
@include generate-icon('erc');
@include generate-icon('etc-alt');
@include generate-icon('etc');
@include generate-icon('eth-alt');
@include generate-icon('eth');
@include generate-icon('fc2-alt');
@include generate-icon('fc2');
@include generate-icon('fct-alt');
@include generate-icon('fct');
@include generate-icon('flo-alt');
@include generate-icon('flo');
@include generate-icon('frk-alt');
@include generate-icon('frk');
@include generate-icon('ftc-alt');
@include generate-icon('ftc');
@include generate-icon('game-alt');
@include generate-icon('game');
@include generate-icon('gbyte-alt');
@include generate-icon('gbyte');
@include generate-icon('gdc-alt');
@include generate-icon('gdc');
@include generate-icon('gemz-alt');
@include generate-icon('gemz');
@include generate-icon('gld-alt');
@include generate-icon('gld');
@include generate-icon('gno-alt');
@include generate-icon('gno');
@include generate-icon('gnt-alt');
@include generate-icon('gnt');
@include generate-icon('golos-alt');
@include generate-icon('golos');
@include generate-icon('grc-alt');
@include generate-icon('grc');
@include generate-icon('grs');
@include generate-icon('heat-alt');
@include generate-icon('heat');
@include generate-icon('icn-alt');
@include generate-icon('icn');
@include generate-icon('ifc-alt');
@include generate-icon('ifc');
@include generate-icon('incnt-alt');
@include generate-icon('incnt');
@include generate-icon('ioc-alt');
@include generate-icon('ioc');
@include generate-icon('iota-alt');
@include generate-icon('iota');
@include generate-icon('jbs-alt');
@include generate-icon('jbs');
@include generate-icon('kmd-alt');
@include generate-icon('kmd');
@include generate-icon('kobo');
@include generate-icon('kore-alt');
@include generate-icon('kore');
@include generate-icon('lbc-alt');
@include generate-icon('lbc');
@include generate-icon('ldoge-alt');
@include generate-icon('ldoge');
@include generate-icon('lsk-alt');
@include generate-icon('lsk');
@include generate-icon('ltc-alt');
@include generate-icon('ltc');
@include generate-icon('maid-alt');
@include generate-icon('maid');
@include generate-icon('mco-alt');
@include generate-icon('mco');
@include generate-icon('mint-alt');
@include generate-icon('mint');
@include generate-icon('mona-alt');
@include generate-icon('mona');
@include generate-icon('mrc');
@include generate-icon('msc-alt');
@include generate-icon('msc');
@include generate-icon('mtr-alt');
@include generate-icon('mtr');
@include generate-icon('mue-alt');
@include generate-icon('mue');
@include generate-icon('nbt');
@include generate-icon('neo-alt');
@include generate-icon('neo');
@include generate-icon('neos-alt');
@include generate-icon('neos');
@include generate-icon('neu-alt');
@include generate-icon('neu');
@include generate-icon('nlg-alt');
@include generate-icon('nlg');
@include generate-icon('nmc-alt');
@include generate-icon('nmc');
@include generate-icon('note-alt');
@include generate-icon('note');
@include generate-icon('nvc-alt');
@include generate-icon('nvc');
@include generate-icon('nxt-alt');
@include generate-icon('nxt');
@include generate-icon('ok-alt');
@include generate-icon('ok');
@include generate-icon('omg-alt');
@include generate-icon('omg');
@include generate-icon('omni-alt');
@include generate-icon('omni');
@include generate-icon('opal-alt');
@include generate-icon('opal');
@include generate-icon('part-alt');
@include generate-icon('part');
@include generate-icon('piggy-alt');
@include generate-icon('piggy');
@include generate-icon('pink-alt');
@include generate-icon('pink');
@include generate-icon('pivx-alt');
@include generate-icon('pivx');
@include generate-icon('pot-alt');
@include generate-icon('pot');
@include generate-icon('ppc-alt');
@include generate-icon('ppc');
@include generate-icon('qrk-alt');
@include generate-icon('qrk');
@include generate-icon('qtum-alt');
@include generate-icon('qtum');
@include generate-icon('rads-alt');
@include generate-icon('rads');
@include generate-icon('rbies-alt');
@include generate-icon('rbies');
@include generate-icon('rbt-alt');
@include generate-icon('rbt');
@include generate-icon('rby-alt');
@include generate-icon('rby');
@include generate-icon('rdd-alt');
@include generate-icon('rdd');
@include generate-icon('rep-alt');
@include generate-icon('rep');
@include generate-icon('rise-alt');
@include generate-icon('rise');
@include generate-icon('salt-alt');
@include generate-icon('salt');
@include generate-icon('sar-alt');
@include generate-icon('sar');
@include generate-icon('scot-alt');
@include generate-icon('scot');
@include generate-icon('sdc-alt');
@include generate-icon('sdc');
@include generate-icon('sia-alt');
@include generate-icon('sia');
@include generate-icon('sjcx-alt');
@include generate-icon('sjcx');
@include generate-icon('slg-alt');
@include generate-icon('slg');
@include generate-icon('sls-alt');
@include generate-icon('sls');
@include generate-icon('snrg-alt');
@include generate-icon('snrg');
@include generate-icon('start-alt');
@include generate-icon('start');
@include generate-icon('steem-alt');
@include generate-icon('steem');
@include generate-icon('str-alt');
@include generate-icon('str');
@include generate-icon('strat-alt');
@include generate-icon('strat');
@include generate-icon('swift-alt');
@include generate-icon('swift');
@include generate-icon('sync-alt');
@include generate-icon('sync');
@include generate-icon('sys-alt');
@include generate-icon('sys');
@include generate-icon('trig-alt');
@include generate-icon('trig');
@include generate-icon('tx-alt');
@include generate-icon('tx');
@include generate-icon('ubq-alt');
@include generate-icon('ubq');
@include generate-icon('unity-alt');
@include generate-icon('unity');
@include generate-icon('usdt-alt');
@include generate-icon('usdt');
@include generate-icon('vior-alt');
@include generate-icon('vior');
@include generate-icon('vnl-alt');
@include generate-icon('vnl');
@include generate-icon('vpn-alt');
@include generate-icon('vpn');
@include generate-icon('vrc-alt');
@include generate-icon('vrc');
@include generate-icon('vtc-alt');
@include generate-icon('vtc');
@include generate-icon('waves-alt');
@include generate-icon('waves');
@include generate-icon('xai-alt');
@include generate-icon('xai');
@include generate-icon('xbs-alt');
@include generate-icon('xbs');
@include generate-icon('xcp-alt');
@include generate-icon('xcp');
@include generate-icon('xem-alt');
@include generate-icon('xem');
@include generate-icon('xmr');
@include generate-icon('xpm-alt');
@include generate-icon('xpm');
@include generate-icon('xrp-alt');
@include generate-icon('xrp');
@include generate-icon('xtz-alt');
@include generate-icon('xtz');
@include generate-icon('xvg-alt');
@include generate-icon('xvg');
@include generate-icon('xzc-alt');
@include generate-icon('xzc');
@include generate-icon('ybc-alt');
@include generate-icon('ybc');
@include generate-icon('zec-alt');
@include generate-icon('zec');
@include generate-icon('zeit-alt');
@include generate-icon('zeit');
