<div class="row">
    <div class="col-xl-12">
        <nb-card (click)="toggleCard(-1)" [ngClass]="{'danger': totalProfitValue < 0, 'success': totalProfitValue > 0}">
            <div class="card-content">
                <div class="icon-container">
                    <div class="icon">
                        <i class="cf cf-usd"></i>
                    </div>
                </div>
                <div class="details">
                    <div class="title">
                        {{ dashboardInfo.totalValue?.usd | currency:'USD' }}
                        <br/>
                        <span class="status">{{ dashboardInfo.totalValue?.btc }}BTC</span>
                    </div>
                </div>
            </div>
            <div class="expand-area" *ngIf="expandedBalances.indexOf(-1) >= 0">
                test
            </div>
        </nb-card>
    </div>
    <div class="col-xxl-6 col-xl-12" *ngFor="let balance of dashboardInfo.balances; let i=index;">
        <nb-card (click)="toggleCard(i)" [ngClass]="{'danger': balance.totalProfitValue < 0, 'success': balance.totalProfitValue > 0}">
            <div class="card-content">
                <div class="icon-container">
                    <div class="icon">
                        <i class="cf cf-{{ balance.currency | lowercase }}"></i>
                    </div>
                </div>

                <div class="details">
                    <div class="title">
                        {{ balance.balance }} {{ balance.currency }}
                    </div>
                    <div class="status" *ngIf="currency === 'usd'">
                        {{ balance.totalValue[currency] | currency:currency.toUpperCase() }}
                    </div>
                    <div class="status" *ngIf="currency !== 'usd'">
                        {{ balance.totalValue[currency] }}{{ currency.toUpperCase() }}
                    </div>
                </div>
            </div>
            <div class="expand-area" *ngIf="expandedBalances.indexOf(i) >= 0">
                <ng2-smart-table [settings]="tableSettings" [source]="balance.transactions"></ng2-smart-table>
            </div>
        </nb-card>
    </div>
</div>
