@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';
@include nb-install-component() {
    nb-card {
        .icon {
            float: left;
            padding: 10px;
            width: 100px;
            height: 100px;
            font-size: 80px;
            line-height: 80px;
            color: #000;
            i {
                width: 100%;
                text-align: center;
                display: inline-block;
                background-color: #000;
            }
            &.success {
                background: theme-color("success");
            }
        }
        &:hover {
            cursor: pointer;
        }
        .details {
            float: right;
            padding: 10px;
            width: calc(100% - 100px);
        }
        .title {
            font-family: nb-theme(font-secondary);
            font-size: 1.25rem;
            font-weight: nb-theme(font-weight-bold);
            color: nb-theme(card-fg-heading);
        }
        .status {
            font-size: 1rem;
            font-weight: nb-theme(font-weight-light);
            color: nb-theme(card-fg);
        }
        .pull-right {
            float: right;
        }
        .expand-area {
            padding: 10px;
            border-top: 1px solid #ccc;
        }
    }
    @include nb-for-theme(cosmic) {
        nb-card {
            .icon-container {
                padding: 0;
            }
            .details {
                padding-left: 1.25rem;
            }
            .icon {
                width: 7rem;
                height: 100%;
                font-size: 4.5rem;
                border-radius: nb-theme(card-border-radius) 0 0 nb-theme(card-border-radius);
            }
            .title {
                font-weight: nb-theme(font-weight-bolder);
            }
            .status {
                font-weight: nb-theme(font-weight-light);
            }
        }
    }
}
